@import url("https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
.menu {
  min-width: 100vw;
  min-height: 100vh;
  background-color: hsl(205, 90%, 88%);
  padding: 8rem 0;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title h2 {
  font-size: 60px;
  text-transform: uppercase;
  font-family: "Grenze Gotisch", cursive;
  font-weight: 600;
  background-color: rgb(26, 243, 6);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  text-shadow: 2px 20px 10px rgba(0, 0, 0, 0.2);
}
.title h2:hover {
  transform: rotate(-30deg);
}
.btn-container {
  margin-top: 2rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter-btn {
  margin-right: 2rem;
  padding: 14px 16px;
  cursor: pointer;
  font-size: 2rem;
  border: 2px solid #c59d5f;
  background-color: rgb(109, 193, 241);
  text-transform: uppercase;
  transition: all 0.8s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  outline: none;
}

.filter-btn:hover {
  background-color: #c59d5f;
  transform: scale(1.2) rotate(10deg);
  color: white;
}
.container {
  /* justify-content: center;
    align-content: center; */
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60rem, 1fr));
  grid-gap: 3rem 2rem;
}
.menu-item {
  /* border: 1px solid black; */
  /* width: 60rem; */
  display: grid;
  /* margin: 0 auto; */
  grid-template-columns: 30rem 1fr;
  grid-template-rows: max-content;
  grid-column-gap: 2.5rem;
}
.menu-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid #c59d5f;
  border-radius: 10px;
}
.item-info {
  padding: 1rem 0;

  /* font-size: 3rem; */
}
.item-info header {
  display: flex;
  justify-content: flex-start;
  font-size: 1.8rem;
  padding-bottom: 1.5rem;
  font-weight: 100;
  border-bottom: 1px dotted black;
  letter-spacing: 2px;
}
.item-info header .item-price {
  background-color: #c59d5f;
  /* font-size: 40px; */
  margin-left: auto;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  letter-spacing: initial;
  /* font-family: "Grenze Gotisch", cursive; */
  font-weight: 600;
  font-size: 1.9rem;
  padding-top: 0;
}
.item-info p {
  margin-top: 2rem;
  font-size: 1.7rem;
  letter-spacing: 1.2;
  color: rgba(97, 90, 90, 0.63);
}
.item-info p::selection {
  background-color: green;
}
